@font-face {
  font-family: "Montserrat";
  src: url(../lib/fonts/Montserrat.woff2) format("woff2");
}

@import "tailwindcss";
@import "tw-animate-css";

* {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease;
}

@media screen and (min-width: 100px) {
  .navbar {
    background: transparent;
  }
}

@supports (backdrop-filter: blur(10px)) {
  .navbar.scrolled {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1);
  }
}
